.DS_Store
*.pyc
.gradle
.idea
build/
bin/
supervisord.*
out
*$py.class
*.iml
gradle.properties
itest-conf.json
xl-release-*-server/
deploy_key*
.project
.DS_Store
.pydevproject
.settings/
.vscode
temp/
*.iml
*.ipr
*.iws
*.pyc
*.log
.classpath
.devcontainer

